@import '../variables';
@import '../mixins';

.container {
  background-color: white;
  box-shadow: $main-shadow;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  overflow: auto;

  @extend %scroll_rules;

  input {
    margin: 2px;
  }
}

.group_control {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 340px;
  height: 50px;
  padding: 10px;
  justify-content: center;
}

.equipment_control {
  position: fixed;
  top: 20px;
  left: 400px;
  right: 20px;
  height: 50px;
  padding: 10px;
}

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.6);
}