@import '../variables';

.container {
  position: fixed;
  top: 90px;
  left: 360px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: $main-shadow;
  border-radius: $border-radius;

  ul.card_list {
    list-style-type: none;
    padding-left: 0;

    li.card {
      padding: 10px;
      background-color: rgb(240, 240, 240);
      border-radius: $border-radius;

      td {
        min-width: 15em;
      }

      details {
        max-width: 80%;
        background-color: white;
        border-radius: $border-radius;
        padding: 10px;

        summary {
          color: gray;
          cursor: pointer;
        }

        &[open] {
          summary {
            color: black;
            margin-bottom: 10px;
          }
        }

        ul.feature_list {
          list-style-type: none;
          padding-left: 0;

          li.feature {
            &:not(:last-child) {
              padding-bottom: 5px;
              margin-bottom: 5px;
              border-bottom: 1px dashed lightgray;
            }

            span {
              display: inline-block;
            }

            span:first-child {
              width: 30%;
            }
          }
        }
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}