@import '../variables';
@import '../mixins';

.container {
  position: fixed;
  top: 110px;
  left: 400px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: $main-shadow;
  border-radius: $border-radius;
  overflow: auto;

  @extend %scroll_rules;

  ul.card_list {
    list-style-type: none;
    padding-left: 0;
    min-width: 500px;
  }
}

.container > div {
  margin-bottom: 10px;
}