@import '../variables';
@import '../forms';
@import '../mixins';

.modal {
  width: 600px;
  max-height: 85vh;
  overflow: auto;

  div.type_control {
    margin: 15px 0;
    text-align: center;

    input + input {
      margin-left: 5px;
    }
  }

  div.inner_form {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: $border-radius;

    div:nth-child(1) {
      display: flex;
      justify-content: flex-end;

      input[type=text] {
        background-color: white;
        flex: 1;
      }

      input[type=button] {
        margin-left: 5px;
      }
    }

    div:nth-child(2) {
      margin: 5px 0 0 0;
    }
  }

  ul {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: $border-radius;
    list-style-type: none;

    li {
      padding: 5px;
      cursor: pointer;
    }

    li + li {
      border-top: 1px dashed lightgray;
    }

    li.selected {
      background-color: $dark-background-color;
      color: white;
      border-radius: $border-radius;
    }
  }

  @extend %scroll_rules;
  @extend %modal_mixin;
}