@import '../variables';

.container {
  position: fixed;
  top: 90px;
  left: 20px;
  bottom: 20px;
  width: 300px;
  padding: 10px;
  background-color: white;
  box-shadow: $main-shadow;
  border-radius: $border-radius;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: $border-radius;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $dark-background-color;
  }

  &::-webkit-scrollbar-corner {
    border-radius: $border-radius;
  }
}