@import '../variables';

.container {
  background-color: $dark_background-color;
  color: white;
  padding: 25px;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  font-family: $main-font-family;

  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    margin: 15px 0;
    text-align: justify;
  }
}