.container {

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  table {
    width: 100%;

    input, select {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .control {
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;

    input:first-child {
      margin-right: 5px;
    }
  }
}