@import './variables';

/* Сброс стилей браузера */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
  background-color: rgb(240, 240, 240);
  padding: 20px;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-spacing: 5px;
}

th {
  font-weight: normal;
}

canvas {
  margin: 0;
  padding: 0;
}

/* Общие стилия для кнопок и полей ввода */

input, button {
  border: none;
  outline: none;
  border-radius: $border-radius;
}

button, input[type=button] {
  background-color: $btn-background-color;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 100ms;
}

button, input[type=button]:active {
  transform: scale(0.9);
  transition: all 100ms;
}

input[type=text], input[type=password] {
  padding: 5px 10px;
  background-color: $input-background-color;
}

/* Добавляем кастомный шрифт */

@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), url("fonts/Roboto-Light.ttf") format('truetype');
}

/* Класс для блоков с ошибками */

.error {
  border-radius: $border-radius;
  background-color: orangered;
  color: white;
  padding: 10px 20px;
  margin: 5px;
}