@import './variables';

%scroll_rules {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: $border-radius;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $dark-background-color;
  }

  &::-webkit-scrollbar-corner {
    border-radius: $border-radius;
  }
}

%modal_mixin {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $main-shadow;
  padding: 10px;
}