$border-radius: 3px;

$dark-background-color: rgb(50, 50, 50);
$btn-background-color: rgb(220, 220, 220);
$input-background-color: rgb(240, 240, 240);

$main-font-family: 'Roboto Light';

$main-shadow: 0 3px 15px 2px rgba(50, 50, 50, 0.2);